

html, body {

  text-align: center;
  margin:0;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  text-align: center;
  /* width: 100%; */
  margin: auto;
  /* box-sizing: border-box; */
}

/* body { */
  /* height: 100%; */
  /* font: caption; */
  /* background-color: black; */
  /* color:white */
/* } */


h1 {
  background-color: black;
  
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  text-align: center;
  /* width: fit-content; */
  /* height:fit-content; */
}

div {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin: 0;
  text-align: center;
    /* width: fit-content; */
  /* height:fit-content; */
}

a { color:white }
/* p { */
  /* margin: 1em 2em; */
  /* color:white */
/* } */

