
body {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* text-align: center; */
  margin:0;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  
}

h1 {
  background-color: black;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* width: fit-content; */
  /* height:fit-content; */
}

div {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* margin: 0; */
    /* width: fit-content; */
  /* height:fit-content; */
  text-align: center;
}