
body {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* text-align: center; */
  margin:0;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
button {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  text-align: center;
  margin:0;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  /* border: 1px; */
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: black;
}


h1 {
  background-color: black;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* width: fit-content; */
  /* height:fit-content; */
}

div {
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  /* margin: 0; */
    /* width: fit-content; */
  /* height:fit-content; */
  text-align: center;
}

p {
    font-size: 13px;
    text-align: center;
}